@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
	/* font-family */
	--hanken: 'Hanken Grotesk', sans-serif;

	/* colors */
	--lightred: hsl(0, 100%, 67%);
	--orangey-yellow: hsl(39, 100%, 56%);
	--greenteal: hsl(166, 100%, 37%);
	--cobaltblue: hsl(234, 85%, 45%);
	--link: hsl(228deg, 45%, 44%);

	/* gradients(background) */
	--lightslateblue: hsl(252, 100%, 67%);
	--lightroyalblue: hsl(241, 81%, 54%);
	/* gradients(circle) */
	--violetblue: hsla(256, 72%, 46%, 1);
	--persianblue: hsla(241, 72%, 46%, 0);

	/* neutralcolors */
	--paleblue: hsl(221, 100%, 96%);
	--lightlavender: hsl(241, 100%, 89%);
	--darkgrayblue: hsl(224, 30%, 27%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--hanken);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
p,
#btn,
.attribution {
	font-size: 1.125rem;
}

main {
	margin: 0 auto;
	width: 54vw;
	min-width: 605px;
	max-width: 1400px;
	min-height: 520px;
	display: flex;
	flex-direction: row;
	background-color: var(--white);
}

#total {
	position: relative;
	left: 2.37%;
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	padding: 8%;
	padding-top: 5%;
	background: linear-gradient(var(--lightslateblue), var(--lightroyalblue));
	text-align: center;
	justify-content: space-between;
	border-radius: 30px;
	z-index: 1;
}

.title,
#description,
#limit {
	color: hsla(0, 0%, 100%, 0.75);
}

#total .title {
	padding-bottom: 10%;
}

#circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	background-image: linear-gradient(var(--violetblue), 70%, var(--persianblue));
	height: 175px;
	width: 175px;
	padding: 10%;
	border-radius: 50%;
}
#total-avg {
	color: white;
	font-size: 60px;
	font-weight: bold;
}

#subtitle {
	padding-top: 10%;
	padding-bottom: 5%;
	color: white;
}

#summary {
	position: relative;
	right: 2.37%;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	justify-content: space-between;
	padding: 5%;
	padding-bottom: 62.2px;
	padding-left: 10%;
	border-radius: 0 30px 30px 0;
	box-shadow: 2px 18px 60px -35px hsla(241, 81%, 54%, 0.5);
	z-index: 0;
}

#summary .title {
	color: var(--darkgrayblue);
}

#categories {
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style-type: none;
	width: 100%;
}
.category {
	width: 100%;
	padding: 4.5%;
	display: grid;
	grid-template-columns: 0.35fr 1.5fr 1fr;
	border-radius: 10px;
}
.score {
	color: var(--darkgrayblue);
	text-align: end;
}
.max {
	color: hsla(224, 30%, 27%, 0.6);
}

/* category ids */
#Reaction {
	background-color: hsla(0, 100%, 67%, 0.1);
	color: var(--lightred);
}
#Memory {
	background-color: hsla(39, 100%, 56%, 0.1);
	color: var(--orangey-yellow);
}
#Verbal {
	background-color: hsla(166, 100%, 37%, 0.1);
	color: var(--greenteal);
}
#Visual {
	background-color: hsla(234, 85%, 45%, 0.1);
	color: var(--cobaltblue);
}
#btn {
	font-weight: bold;
	padding: 20px;
	border-radius: 50px;
	background-color: var(--darkgrayblue);
	color: white;
	border: none;
}
#btn:hover {
	background-image: linear-gradient(
		var(--lightslateblue),
		var(--lightroyalblue)
	);
	cursor: pointer;
}

.attribution {
	margin-top: 2%;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 20px;
	}

	body {
		justify-content: flex-start;
	}

	main {
		width: 100vw;
		height: 100vh;
		min-width: 315px;
		max-width: 480px;
		flex-direction: column;
	}

	#total {
		flex-basis: 30%;
		left: 0;
		border-radius: 0 0 30px 30px;
		padding-top: 5%;
		padding-bottom: 10%;
	}

	#total .title {
		padding-bottom: 5%;
	}
	#subtitle {
		padding-top: 8%;
		padding-bottom: 3%;
	}

	#summary {
		justify-content: flex-start;
		flex-basis: 70%;
		right: 0;
		padding: 5% 8%;
		box-shadow: none;
	}

	#summary .title {
		padding-bottom: 6.275%;
	}

	#categories {
		padding-bottom: 6.275%;
	}

	.attribution {
		display: none;
	}
}

@media only screen and (min-width: 1921px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.25rem;
	}

	p,
	.attribution {
		font-size: 1.67rem;
	}
}
